@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

//@import "../public/fonts/stylesheet.css";

// Main site style
h1, h2, h3, h4, h5, h6 {
  //margin-top: 0;
  font-family: 'Galano Grotesque Alt', Arial, Helvetica, sans-serif;
  line-height: 100%;
}

*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6){
  font-family: "Galano-Grotesque", "Inter", sans-serif;
}

body {
  font-weight: normal;
  min-height: 100%;
  overflow-x: hidden;
  //margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  font-family: 'Galano Grotesque Alt (Numbers)', 'Atkinson Hyperlegible', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

html {
  body {
    @apply bg-framed-black text-framed-white;

    .cls-1 {
      fill: #dbdfd8;
    }
  }
}

.calendar {
  g {
    rect {
      cursor: pointer;
    }
  }
}

.year-cover-container {
  container-type: inline-size;
}
